<% provide(:title, 'Welcome') %>
<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<form class='form-inline'>
<%-
    province = '440000'
    city = '440300'
    district = '440305'
    provinces = ChinaCity.list
    cities = ChinaCity.list(province)
    districtes = ChinaCity.list(city)
%>
<div class='rails-helper city-group'>
  <%= select_tag :province, options_for_select(provinces, province), prompt: '--省份--', class: ['city-select', 'city-province', 'form-control'] %>
  <%= select_tag :city, options_for_select(cities, city), prompt: '--城市--', class: ['city-select', 'city-city', 'form-control'] %>
  <%= select_tag :district, options_for_select(districtes, district), prompt: '--地区--', class: ['city-select', 'city-district', 'form-control'] %>
</div>

<div class='html-tag city-group form-group'>

  <div class='form-group'>
    <label class='sr-only'>Province</label>
    <select class='city-select city-province form-control'>
      <option>--省份--</option>
      <%= options_for_select(ChinaCity.list, province) %>
    </select>
  </div>

  <div class='form-group'>
    <label class='sr-only'>City</label>
    <select class='city-select city-city form-control'>
      <option>--城市--</option>
      <%= options_for_select(cities, city) %>
    </select>
  </div>

  <div class='form-group'>
    <label class='sr-only'>Cc</label>
    <select class='city-select city-district form-control'>
      <option>--地区--</option>
      <%= options_for_select(districtes, district) %>
    </select>
  </div>
</div>

</form>

<div class="form-group col-lg-2">
<input type="text" class="form-control" placeholder=".col-lg-2">
</div>

<div class="form-group col-lg-3">
  <input type="text" class="form-control" placeholder=".col-lg-3">
</div>

<!-- TEST -->
<form role="form">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="exampleInputFile">File input</label>
    <input type="file" id="exampleInputFile">
    <p class="help-block">Example block-level help text here.</p>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Check me out
    </label>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

<!--Text -->

<%#= form_tag import_path, multipart: true, html:{class: "signup"} do %>
<%#= file_field_tag :file, class: "form-control"%>
<%#= submit_tag 'import', class: 'btn btn-lg btn-primary btn-block' %>

<%# end %>