<% provide(:title, (t "head.staffinfo")) %>
<h3 style="text-align: center"><%= t "staffinfo.title" %></h3>
<div class="table-responsive">
  <table class="dataTable table table-hover" id="stufflist">
    <thead>
    <tr>
      <th>姓名</th>
      <th>性别</th>
      <th>中心</th>
      <th>联系电话</th>
      <th>邮箱</th>
      <th>QQ</th>
      <th>获奖记录</th>
      <th>排班</th>
    </tr>
    </thead>
    <tbody>
    <% @users.each do |u| %>
        <tr>
          <td><%= u.name %></td>
          <td><%= u.sex %></td>
          <td><%= u.center %></td>
          <td><%= u.tel %></td>
          <td><%= u.email %></td>
          <td><%= u.qq %></td>
          <td>
            <button type="button" class="btn btn-default award" data-container="body" data-toggle="popover" data-placement="left" data-content="
          <% u.awards.each do |a| %>
            <%= a.record %>
            <br />
          <% end %>">
              获奖记录
            </button>
          </td>
          <td>
            <button class="duty btn btn-default" data-toggle="modal" data-target="#myModal" data-user="<%= u.id %>" data-name="<%= u.name %>">排班</button>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel" style="text-align: center"></h4>
      </div>
      <div class="modal-body">
        <input type="hidden" id="userId" value="">
        <div id="userName" style="margin-top: -15px;font-weight:bold"></div>
        <table class="table table-striped table-bordered">
          <tr>
            <td class="date1"></td>
            <td class="date2"></td>
            <td class="date3"></td>
            <td class="date4"></td>
            <td class="date5"></td>
            <td class="date6"></td>
            <td class="date7"></td>
          </tr>
          <tr>
            <td class="duty1"></td>
            <td class="duty2"></td>
            <td class="duty3"></td>
            <td class="duty4"></td>
            <td class="duty5"></td>
            <td class="duty6"></td>
            <td class="duty7"></td>
          </tr>
          <tr>
            <td class="date8"></td>
            <td class="date9"></td>
            <td class="date10"></td>
            <td class="date11"></td>
            <td class="date12"></td>
            <td class="date13"></td>

            <td class="date14"></td>
          </tr>
          <tr>
            <td class="duty8"></td>
            <td class="duty9"></td>
            <td class="duty10"></td>
            <td class="duty11"></td>
            <td class="duty12"></td>
            <td class="duty13"></td>
            <td class="duty14"></td>
          </tr>
          <tr>
            <td class="date15"></td>
            <td class="date16"></td>
            <td class="date17"></td>
            <td class="date18"></td>
            <td class="date19"></td>
            <td class="date20"></td>
            <td class="date21"></td>
          </tr>
          <tr>
            <td class="duty15"></td>
            <td class="duty16"></td>
            <td class="duty17"></td>
            <td class="duty18"></td>
            <td class="duty19"></td>
            <td class="duty20"></td>


            <td class="duty21"></td>
          </tr>
          <tr>

            <td class="date22"></td>
            <td class="date23"></td>
            <td class="date24"></td>
            <td class="date25"></td>
            <td class="date26"></td>
            <td class="date27"></td>
            <td class="date28"></td>
          </tr>
          <tr>
            <td class="duty22"></td>
            <td class="duty23"></td>
            <td class="duty24"></td>
            <td class="duty25"></td>
            <td class="duty26"></td>
            <td class="duty27"></td>
            <td class="duty28"></td>
          </tr>
          <tr>
            <td class="date29"></td>
            <td class="date30"></td>
            <td class="date31"></td>
          </tr>
          <tr>
            <td class="duty29"></td>
            <td class="duty30"></td>
            <td class="duty31"></td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" id="pre" class="btn btn-default "><span class="glyphicon glyphicon-chevron-left"></span></button>
        <button type="button" id="next" class="btn btn-default"><span class="glyphicon glyphicon-chevron-right"></span></button>
      </div>
    </div>
  </div>
</div>
