<% provide(:title, "StuffInfo") %>

<h1>Information</h1>
<input type="hidden" id="id" value="">
<input type="hidden" id="month" value="">
<div class="table-responsive">
  <table class="dataTable table table-hover" id="stufflist">
    <thead>
    <tr>
      <th>姓名</th>
      <th>性别</th>
      <th>中心</th>
      <th>联系电话</th>
      <th>邮箱</th>
      <th>QQ</th>
      <th>获奖记录</th>
      <th>排班</th>
    </tr>
    </thead>
    <tbody>
    <% @users.each do |u| %>
        <tr>
          <td><%= u.name %></td>
          <td><%= u.sex %></td>
          <td><%= u.center %></td>
          <td><%= u.tel %></td>
          <td><%= u.email %></td>
          <td><%= u.qq %></td>
          <td><button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="left" data-content="
          <% u.awards.each do |a| %>
            <%= a.record %>
            <br />
          <% end %>">
            获奖记录
          </button>
          </td>
          <td><%= button_to "排班", get_duty_info_manage_path(:name=>u.name, :id=>u.id, :month=>Time.now.strftime('%Y%m')), { method: :get, remote: true, "class" => "btn btn-default","data-toggle" => "modal","data-target" => "#myModal"}%>

          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel" style="text-align: center"></h4>
      </div>
      <div class="modal-body">
        </div>
      <div class="modal-footer">
        <label class="name" style="margin-right: 400px;"></label>
        <button type="button" id="pre" class="btn btn-default"><-</button>
        <button type="button" id="next" class="btn btn-default">-></button>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function(){
      $('button').popover({html:true});
      $('#pre').click(function(){
          var paramDate =  $('#month').val();
          var year = paramDate.substring(0, 4);
          var month = paramDate.substring(4, 6);
          month = parseInt(month) - 1;
          if (month == 0) {
              month = 12;
              year = parseInt(year) - 1;
          }
          $.ajax({
              url:"/info_manages/" + $('#id').val() + "/get_duty?month=" + year + (Array(2).join(0) + month).slice(-2),
              dataType: 'script'
          });
      });
      $('#next').click(function(){
          var paramDate =  $('#month').val();
          var year = paramDate.substring(0, 4);
          var month = paramDate.substring(4, 6);
          month = parseInt(month) + 1;
          if (month == 13) {
              year = parseInt(year) + 1;
              month = 1;
          }
          $.ajax({
              url:"/info_manages/" + $('#id').val() + "/get_duty?month=" + year + (Array(2).join(0) + month).slice(-2),
              dataType: 'script'
          });
      });
  });


</script>