<% provide(:title, (t "head.file")) %>
<% if notice %>
<div class="alert alert-info alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <%= notice %>
</div>
<% end %>
<h3 style="text-align: center"><%= t "sharefile.title" %></h3>
<div class="table-responsive">
  <table class="dataTable table table-hover" id="sharedfileslist">
    <thead>
    <tr>
      <th>类别</th>
      <th>标题</th>
      <th>内容概要</th>
      <th>上传时间</th>
      <th>资料</th>
    </tr>
    </thead>

    <tbody>
    <% @sharedfiles.each do |sharedfile| %>
        <tr>
          <td><%= sharedfile.category %> </td>
          <td><%= sharedfile.title %> </td>
          <td><%= sharedfile.summary %> </td>
          <td><%= l sharedfile.updated_at %> </td>
          <td><a href=<%= sharedfile.path %>>下载</a></td>
        </tr>
    <% end %>
    </tbody>

  </table>
<div><%= link_to t("sharefile.index.new"), new_shared_file_path %></div>
</div>
