<% provide(:title, "All Goods") %>

<h1>GOODS</h1>
<div class="table-responsive">
  <table class="dataTable table table-hover" id="goodslist" data-source="<%= goods_url(format: "json") %>">
    <thead>
    <tr>
      <th>id</th>
      <th>提单号</th>
      <th>品牌</th>
      <th>商品条码</th>
      <th>商品名称</th>
      <th>单价</th>
      <th>数量</th>
    </tr>
    </thead>
    <tbody>
    <% @goods.each do |good| %>
        <tr>
          <td><%= good.id %> </td>
          <td><%= good.提单号 %> </td>
          <td><%= good.品牌 %> </td>
          <td><%= good.商品条码 %> </td>
          <td><%= good.商品名称 %> </td>
          <td><%= good.单价 %> </td>
          <td><%= good.数量 %> </td>
        </tr>
    <% end %>
    </tbody>

  </table>

</div>