<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Ruby on Rails Tutorial Sample App | <%= yield(:title) %></title>
  <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <!-- 可选的Bootstrap主题文件（一般不用引入） -->
  <!--  <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap-theme.min.css"> -->
  <!--[if lt IE 9]>
  <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
  <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">simple app</a>
    </div>
    <% if signed_in? %>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Contact", "#" %></li>
            <li><%= link_to "Help", "#" %></li>
            <li><%= link_to "About", "#" %></li>
          </ul>
    <% end %>
    <ul class="nav navbar-nav navbar-right">
      <% if signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.name %><b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Profile', current_user %></li>
              <li><%= link_to 'Settings', edit_user_url(current_user) %></li>
              <li class="divider"></li>
              <li><%= link_to 'Switch Account', signin_path %></li>
              <li><%= link_to 'Sign out', signout_path, method: 'delete' %></li>
            </ul>
          </li>
      <% else %>
          <!--       <li><a href="#myModal" data-toggle="modal" data-target="#myModal">Log-in</a></li>-->
          <li><%= link_to "Sign In", signin_path %></li>
          <li><%= link_to "Sign Up", signup_path %></li>
      <% end %>
    </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</div>

<!--
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Log-in</h4>
      </div>
      <div class="modal-body">
        <%= form_for(:session, url: sessions_path, html: {class: 'form_signin'}) do |f| %>
            <div class="form-group">
              <%= f.label :email, 'Email address' %>
              <%= f.text_field :email, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :password %>
              <%= f.password_field :password, class: 'form-control' %>
            </div>
            <p class="text-right"><a href="#">Forgot password?</a> </p>
            </div>
            <div class="modal-footer">
              <a href="#" data-dismiss="modal" class="btn">Close</a>
              <%= f.submit 'Log-in', class: 'btn btn-primary' %>
            </div>
            </div>
          </div>
            </div>
        <% end %>
        -->

<%= yield %>
<%= debug(params) if Rails.env.development? %>
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>

